{
    "Discord": {
        "botToken": "",
        "botChannel": "",
        "botPrefix": "!",
        "botCommand": "check",
        "accessRole": ""
    },
    "Steam": {
        "username": "",
        "password": "",
        "sharedSecret": "",
        "apiKey": ""
    },
    "Customization": {
        "tTag": "🔴",
        "ctTag": "🔵"
    }
}